@model IEnumerable<SATProject.DATA.EF.Course>

@{
    ViewBag.Title = "Retired Courses";


}
<div class="text-center mb-3 mt-3">
    <h2>@ViewBag.Title</h2>
</div>
<p>
    @Html.ActionLink("Add New Course", "Create", null, new { @class = "btn btn-success" }) | @Html.ActionLink("View Active Courses", "Index", null, new { @class = "btn btn-danger" })

    <table class="table activeTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            if (item.IsActive == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditHours)
                    </td>
                    <td>
                        @(item.IsActive ? "Active" : "Retired" )
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                    </td>
                </tr>
            }
        }
    </table>
