@model _12SATProject.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}

<div class="col-md-offset-4 col-md-10 bg-light rounded-2 mt-5 p-2">
    <h2>@ViewBag.Title</h2>
    <dl class="dl-horizontal col-md-8">
        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
</div>