@model IEnumerable<SATProject.DATA.EF.ScheduledClass>

@{
    ViewBag.Title = "Scheduled Classes"; }
<div class="text-center mb-3 mt-3">
    <h2>@ViewBag.Title</h2>
</div>
<p>
    @Html.ActionLink("Schedule a Class", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr class="bg-dark">
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)
        </th>
        <th>Status Update</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledClassStatus.SCSName)
        </td>
        <td>
            <input type="button" value="Active" id="activeBtn" class="btn btn-default" /> |
            <input type="button" value="Pending" id="pendingBtn" class="btn btn-default" /> |
            <input type="button" value="Completed" id="completeBtn" class="btn btn-default" /> |
            <input type="button" value="Cancelled" id="cancelledBtn" class="btn btn-default" />

        @Html.ActionLink("Edit", "Delete", new {id = item.ScheduledClassID} ) 
        </td>
    </tr>
}

</table>
