@model IEnumerable<SATProject.DATA.EF.Student>

@{
    ViewBag.Title = "Students";
}

<div class="text-center mt-3">
    <h2>@ViewBag.Title</h2>
</div>
<p>
    @Html.ActionLink("Add New Student", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Student
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Student Names Goes Here (Need custom property to combine first last name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Major)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentStatus.SSName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentID }) | @Html.DisplayFor(modelItem => item.Enrollment)
        </td>
    </tr>
}

</table>
