@model IEnumerable<SATProject.DATA.EF.StudentStatus>

@{
    ViewBag.Title = "Student Statuses";

    ViewBag.ViewStyle = "(Table View)";
}
<div class="row">
    <div class="text-center mb-3 mt-3">
        <h2>@ViewBag.Title @ViewBag.ViewStyle</h2>
    </div>

    <div>
        <p>
            @Html.ActionLink("Add Status", "Create", null, new { @class = "btn btn-info" })
        </p>
    </div>
    @*<input type="button" value="Tile View" id="viewSwitcher" class="btn btn-default float-right" /> TODO: Fix positioning so that button floats to the left, implement Tile/Table switch functionality*@

    <table class="table">
        <tr class="bg-dark">
            <th>
                Status
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SSName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SSID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SSID })
                </td>
            </tr>
        }

    </table>

</div>
