@model IEnumerable<SATProject.DATA.EF.Enrollment>

@{
    ViewBag.Title = "Enrollments";
}

<div class="text-center mb-3 mt-3">
    <h2>@ViewBag.Title</h2>
</div>

<p>
    @Html.ActionLink("Enroll Student in Class", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            View More
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th>
            Course
        </th>
        <th>
            Student
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.EnrollmentID })">
                    <i class="fa fa-search"></i>
                </a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledClass.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName),  @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentID })
            </td>
        </tr>
    }

</table>
